<section class="section">
<div class="columns">
<div class="column is-half is-offset-one-quarter">
    <div class="box">
        <h2 class="title is-3"><%= @event.title %></h2>
        <h3 class="subtitle"><%= @event.start_date %></h3>
        <div class="content">
            <p><%= @event.body %></p>
        </div>
        <div class="content">
            <small>Created by <%= @event.host.email %></small>
        </div>
        <%= link_to "Attend", "#", class: "button is-primary" %>
    </div>
</div>
</div>
</section>