<section class="section">
<div class="columns">
<div class="column is-half is-offset-one-quarter">
    <div class="box">
        <h2 class="title is-3"><%= @event.title %></h2>
        <h3 class="subtitle"><%= @event.start_date %></h3>
        <div class="content">
            <p><%= @event.body %></p>
        </div>
        <div class="content">
            <small>Created by <%= link_to @event.host.email, user_path(@event.host) %></small>
        </div>
        <% if user_signed_in? && current_user.attended_events.include?(@event) %>
            <%= link_to "Skip", event_attendee_path(@event, current_user), 
                method: :delete, class: "button is-danger is-light"%>
        <% else %>
            <%= link_to "Attend", event_attendees_path(@event), 
                method: :post, class: "button is-primary" %>
        <% end %>
    </div>
</div>
<div class="column is-one-quarter">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="title is-3">Attendees</h3>
        </div>
        <div class="content">
            <% if @event.attendees.empty? %>
                No attendees yet
            <% else %>
                <ul>
                <% @event.attendees.each do |attendee| %>
                    <li>
                    <%= link_to attendee.email, user_path(attendee) %>
                    </li>
                <% end %>
                </ul>
            <% end %>
        </div>
    </div>
</div>

</div>
</section>