<%= form_with model: invitation do |f| %>

    <%= f.hidden_field "invitee[id]", value: invitee.id %>

    <div class="field">
        <div class="control">
        <%= f.label :event_id, "Invite to", class: "label" %>
        <div class="select">
            <%= f.select :event_id, current_user.hosted_events.map { |e| [e.title, e.id] } %>
        </div> 
        </div>
    </div>

    <div class="field">
        <div class="control">
            <%= f.label :body, "Message", class: "label" %>
            <%= f.text_area :body, class: "textarea", rows: "5" %>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <%= f.submit "Invite", class: "button is-info" %>
        </div>
    </div>
<% end %>